
  <p>Dear <strong> @Model.FullName </strong>,</p>

  <p> you have completed your booking process successfully </p>

  <p> you will be charge of @Model.TotalCost.ToString("#.##") @Model.CurrencyType </p>

  <p> if you have any questions, please contact us </p> 
  <a href="@Model.ContactLink"> Contact Us </a>
  <p> if you need to review you booking and payment details </p>
  <a href="@Model.BookingLink"> Complete your Process </a>
