
<p>Dear <strong> @Model.FullName </strong>,</p>
    Thank you for Booking with us.
<br />

<p> here is your transportation Booking Voucher Details.</p>
<br />

  your package: @Model.TrPackage
  <br />

  your trip path will be
  <br />

  @foreach (var item in Model.Routes)
  {
    <span>@item -- </span>
  }
  <br />
  your selecte @Model.VehicleCount vechicle of type @Model.VehicleType
  <br />
  <p> the service company for your package is @Model.CompanyName </p>
  the Total Cost of your Transportation Booking: @Model.TotalCost.ToString("#.##") @Model.CurrencyType
  <br />
