  Dear, @Model.FullName
  thank you for booking with us.
  here is your hotel booking information:

  @foreach (var hotel in @Model.Hotels)
  {
    <p> @hotel </p>
    <p> @hotel.GetType().GetProperty("CityName").GetValue(hotel) </p>
    <H3> your Hotel details in @hotel.CityName </H3>
    @* <p>  hotelName: @hotel.hotelName </p>
      <p>  hotelRating: @hotel.hotelRating </p>
      <p>  check in Date: @hotel.checkInDate </p>
      <p>  check out Date: @hotel.checkOutDate </p>
      <p>  number of guests: @hotel.paxCount </p>
      <p>  number of rooms: @hotel.roomsCount </p>
      <p>  number of nights: @hotel.nightsCount </p>
      <p>  Room Type: @hotel.roomType </p>*@
  }
